html {
    background: #393b41;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-size: 3em;
    margin: 0;
}

#logo h2 {
    margin: 0 auto;
    cursor: pointer;
}

h1,
h2 {
    color: yellow;
}

#logo {
    text-align: center;
    margin: 0 auto;
}

#lanInfo {
    width: 300px;
    float: left;
}

#svg-conatiner {
    height: 900px;
    width: 900px;
}

a {
    text-decoration: none;
    color: yellow;
    transition: all .2s ease-in-out;
}

a:hover {
    color: pink;
}